<!DOCTYPE html>
<html lang="en" ng-app="lmr">
<head>
  <meta charset="utf-8">
  <title>LeapRecorder</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" ng-controller="Controls">
    <h1>Leap Recorder</h1>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
