<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>LeapRecorder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Recorder">

  <div id="main-nav" class="navbar navbar-default" data-ng-controller="Recordings">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.leapmotion.com/">
          <img alt="LEAP">
        </a>
      </div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="/">Recorder</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recordings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="recording in recordings">
              <a href="{{ recording.id }}">{{ recording.name }}</a>
            </li>
          </ul>
        </li>
        <p class="navbar-text navbar-right" ng-if="recording">{{ recording.name }}</p>
      </ul>
    </div>
  </div>

  <%= yield %>

</body>
</html>
